<main>
  <div [ngClass]="{'right-panel-active': !isLoginForm }" class="container" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="signUpForm" (ngSubmit)="create()">
        <h1>Criar conta</h1>
        <p>Insira seus dados para começar a usar nossa aplicação</p>

        <app-input [t-control]="signUpForm.controls['name']" t-type="text" t-label="Nome">
        </app-input>

        <app-input [t-control]="signUpForm.controls['email']" t-type="text" t-label="Email">
        </app-input>

        <app-input [t-control]="signUpForm.controls['password']" t-type="password" t-label="Password">
        </app-input>
        <p class="about">
          Sobre a senha
          <mat-icon matTooltip="Senha deve conter entre 6 e 12 dígitos;
            Uma letra minúscula;
            Uma letra maiúscula;
            Um número e um caractere especial (Ex: @#$%&)" matTooltipClass="tooltip" matTooltipPosition="right">
            help
          </mat-icon>
        </p>
        <button class="submit">Cadastrar-se</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="signInForm" (ngSubmit)="login()">
        <h1>Fazer login</h1>
        <p>Insira seus dados para logar na aplicação</p>
        <app-input [t-control]="signInForm.controls['email']" t-type="text" t-label="Email">
        </app-input>

        <app-input [t-control]="signInForm.controls['password']" t-type="password" t-label="Password">
        </app-input>

        <button class="submit">Entrar</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Já possui conta?</h1>
          <p>Para se conectar, por favor, faça seu login</p>
          <button class="submit ghost" id="signIn" (click)="isLoginForm = !isLoginForm">Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Olá, amigo!</h1>
          <p>Cadastre-se agora para conectar-se conosco</p>
          <button class="submit ghost" id="signUp" (click)="isLoginForm = !isLoginForm">Cadastrar-se</button>
        </div>
      </div>
    </div>
  </div>
</main>
